header {
    height: 40px;
    background-color: white;
}

@media only screen and (max-width: 500px) {
    header  {
        position: fixed;
        top: 0;
        width: 95%;
    }
}

.header-title {
    line-height: 40px;
    text-align: center;
    vertical-align: center;
    color: rgb(139, 143, 151);
}

.control-icon {
    display: inline-block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.add-icon {
    background-image: url("/images/add.png");
    margin-right: 3px;
    margin-left: -3px;
}

.delete-icon {
    background-image: url("/images/trash 2.png");
}

.control-panel {
    padding: 0px 10px 0px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

input.page-title {
    font-weight: bold;
    font-size: small;
    text-align: center;
    flex: 1 0 auto;
    width: 1px;
    margin: 0 12px;
    overflow: hidden;
}

.settings-icon {
    background-position-x: 100%;
    background-image: url("/images/cog.png");
}
