
.line {
    height: 100%;
    display: flex;
    border-bottom: 1px solid rgb(230, 235, 237);
}

.line__left-area {
    flex: 0 0 44px;
    display: flex;
    align-items: center;
}

.line__left-area::after {
    display: block; 
    content: "";
    height: 100%;
    flex: 0 0 3px;
    border-right: 1px solid rgb(242, 227, 223);
    border-left: 1px solid rgb(242, 227, 223);
}

.line__right-area {
    padding: 0 10px;
    flex: 1 0 auto;
}

.line__left-empty {
    width: 100%;
}

