
.container {
    width: 250px;
    margin: 220px auto;
    color: rgb(139, 143, 151);
    border: 1px solid rgb(223, 220, 220);
    border-radius: 1px;
    box-shadow:  0 0 3px rgb(245, 243, 243);
}
  
@media only screen and (max-width: 500px) {
    .container {
        margin: 0 auto;
        width: 95%;
        height: 95%;
        border: none;
    }
}
  


.to-delete {
    background-color: rgba(255, 93, 93, 0.62);
}