
.control-icon {
    display: inline-block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.add-icon {
    background-image: url("/images/add.png");
    margin-right: 3px;
    margin-left: -3px;
}

.delete-icon {
    background-image: url("/images/trash 2.png");
}

.settings-icon {
    background-position-x: 100%;
    background-image: url("/images/cog.png");
}
