.header {
    height: 40px;
}

.header-title {
    line-height: 40px;
    text-align: center;
    vertical-align: center;
    color: rgb(139, 143, 151);
}

.control-icon {
    display: inline-block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}

.add-icon {
    background-image: url("/images/add.png");
}

.delete-icon {
    background-image: url("/images/trash 2.png");
}

.control-panel {
    padding: 0px 10px 0px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.control-panel > div {
    flex: 0 0 15px;
}

input.page-title {
    font-weight: bold;
    font-size: small;
    margin-left: 33px;
    flex: 1 0 auto;
    border: none;
    width: 1px;
}

.settings-icon {
    background-position-x: 100%;
    background-image: url("/images/cog.png");
}
