* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(244, 241, 241);
}

ul {
  list-style: none;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: rgb(139, 143, 151);
  width: 250px;
  border: 1px solid rgb(223, 220, 220);
  border-radius: 1px;
  box-shadow:  0 0 3px rgb(245, 243, 243);
}

.left-empty {
  width: 100%;
}

body input {
  color: rgb(139, 143, 151);
  width: auto;
  border: none;
  outline: rgb(108, 106, 106);
  background-color: rgba(0, 0, 0, 0);
}