* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(244, 241, 241);
}

ul {
  list-style: none;
}

body input, body textarea {
  color: rgb(128, 131, 139);
  width: auto;
  border: none;
  outline: rgb(108, 106, 106);
  background-color: rgba(0, 0, 0, 0);
}

